@media screen and (max-width:1200px) {
  .about-top {
    gap: 70px;
  }
}

@media screen and (max-width:992px) {
  .about-top {
    grid-template: auto / 1fr;
  }
  .about-advantages {
    &__item {
      width: calc(50% - 15px);
    }
  }
}

@media screen and (max-width:768px) {
  .about {
    padding: 30px 0 40px;
    &-text {
      grid-template: auto/1fr;
      gap: 10px;
    }
    &-advantages {
      margin-bottom: 20px;
      gap: 10px;
      &__item {
        padding: 10px 20px;
        width: 100%;
        border-radius: 10px;
        &_num {
          font-size: 49px;
        }
      }
    }
    &-top {
      gap: 20px;
      margin-bottom: 40px;
    }
    &-image {
      height: 155px;
    }
    &-plug {
      height: 77px;
    }
    &-right {
      gap: 10px;
      &__item {
        gap: 10px;
        padding: 0 !important;
      }
    }
    &-description p {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width:576px) {
  .about-bottom__title {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .about-title {
    margin-bottom: 20px;
    span {
      font-size: 48px;
    }
  }
}