@media screen and (max-width: 992px) {
  .location {
    padding: 30px 0 40px;
    &-city {
      grid-template: auto / repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 768px) {
  .location {
    &-city {
      &__item {
        gap: 10px;
      }
      &__ico {
        width: 30px;
        height: 30px;
      }
    }
    &-map {
      &__point {
        &_circle {
          width: 5px;
          height: 5px;
        }
        &_name {
          border-radius: 6px;
          padding: 6px 10px;

          font-size: 18px;
          &::before {
            width: 5px;
            height: 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .location {
    &-city {
      margin-top: 20px;
      grid-template: auto / repeat(2, 1fr);
    }
    &-content {
      margin-top: -30px;
    }
    &-title, &-city {
      padding: 0 20px;
    }
    &-container {
      padding: 0;
    }
  }
}