@media screen and (max-width:576px) {
  .modal-feedback {
    &.fancybox__content {
      width: 320px;
      background: #F7F8FA;
      padding: 30px 35px 25px 35px;
    }

    &__title {
      font-size: 24px;
      text-align: center;
      color: var(--main-color);
    }
    &__form {
      margin-top: 20px;
      &_fields {
        margin-bottom: 15px;
        input {
          height: 50px;

          font-size: 15px;
        }
      }
      &_button {
        height: 50px;

        font-weight: 500;
        font-size: 15px;
        color: #111;
      }
      &_policy {
        margin: 10px 0 0;
      }
    }
  }
}