@media screen and (max-width:992px) {
  .promo {
    padding: 100px 0 40px;
    &-title {
      margin: 0 auto;
      margin-bottom: 30px;
      text-align: center;
    }
    &-descr {
      margin: 0 auto;
      text-align: center;
    }
    &-image {
      width: 100%;
      height: 100%;

      position: relative;
      left: auto;

      margin: 0 auto;

    }
    &-special {
      margin-top: -15px;
      &__bottom {
        flex-direction: column;
      }
      &__banner {
        max-width: 100%;
      }
      &__title {
        text-align: center;
        margin-bottom: 10px;
      }
      &__descr {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width:576px) {
  .promo {
    &-heading {
      padding: 0 18px;
    }
    &-title {
      margin-bottom: 6px;
    }
    &-special {
      margin: -15px 20px 0 20px;
      border-radius: 20px;
      padding: 20px 24px 28px;
      &__banner {
        border-radius: 10px;
        padding: 10px;
        gap: 8px;
        &_ico {
          width: 40px;
          height: 40px;
        }
        &_title {
          font-size: 16px;
        }
        &_descr {
          font-size: 14px;
        }
      }
      &__right {
        &_title {
          text-align: center;
          margin-bottom: 10px;
        }
        &_wrapper {
          gap: 5px;
        }
      }
    }
    &-timer {
      .time-unit {
        span:not(.time-number) {
          font-size: 8px;
          bottom: -14px;
        }
      }
      .time-number {
        font-size: 20px;
        min-width: 43px;
        height: 43px;

        display: flex;
        align-items: center;
        justify-content: center;
        &::before, &::after {

        }
      }
      &__wrapper {
        gap: 3px;
      }
    }
    &-feedback {
      font-size: 14px;
      padding: 12px;

      white-space: nowrap;
    }
    &-image {
      padding: 0 20px;
    }
    &-container {
      padding: 0;
    }
  }
}