.construction {
  padding: 100px 0;
  position:relative;
  &-container {
    position: relative;
    z-index: 5;
  }
  &-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-title {
    max-width: 750px;
    color: white;

    margin: 0 auto;
  }
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    max-width: 875px;
    margin: 0 auto;

    &::after {
      content: "";
      position: absolute;
      border-radius: 100%;
      opacity: 0.2;
      background: #FFF;
      filter: blur(77px);

      width: 1381.543px;
      height: 162.653px;
      transform: rotate(20.735deg);
      flex-shrink: 0;
    }
    &::before {
      content: "";
      position: absolute;
      border-radius: 100%;
      opacity: 0.5;
      background: #FFF;
      filter: blur(77px);

      width: 1381.543px;
      height: 162.653px;
      transform: rotate(-15deg);
      flex-shrink: 0;
    }
  }
  &-image {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 1;

    width: 100%;
    height: 100%;
    max-width: 875px;
    max-height: 600px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-point {
    &__item {
      position: absolute;
      &_ico {
        color: #FFF;
        text-align: center;
        font-size: 33px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        height: 50px;
        width: 50px;

        display: flex;
        align-items: center;
        justify-content: center;

        background: var(--accent-color);
        border-radius: 50%;

        position: relative;
        z-index: 6;

        cursor: pointer;

        transition: all .3s ease;

        filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.25));
      }
      &_text {
        color: var(--second-color);
        border-radius: 20px;
        background: #FEFEFE;
        padding: 30px;

        max-width: 340px;
        width: 340px;

        position: absolute;
        z-index: 8;
        left: 26px;
        bottom: 21px;

        opacity: 0;
        visibility: hidden;

        transition: all .2s ease;
        p:last-child {
          margin: 0;
        }
      }
      &::before {
        content: "+";
        color: #FFF;
        text-align: center;
        font-size: 33px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--accent-color);
        border-radius: 50%;
        z-index: 10;
        cursor: pointer;
        transition: all .3s ease;
        filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.25));

        position: absolute;

        opacity: 0;
        visibility: hidden;
      }
      &:hover {
        .construction-point__item_ico {
          background: #E1921C;
        }
        .construction-point__item_text {
          visibility: visible;
          opacity: 1;
        }
        &::before {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  &-mobile {
    &__item {
      border-radius: 20px;
      background: #FEFEFE;

      opacity: 0;
      visibility: hidden;
      height: 0;
      overflow: hidden;

      transition: opacity 0.3s ease, height 0.3s ease, visibility 0s 0.3s;

      p {
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

#construction-point {
  &-1 {
    top: 12.5%;
    right: -2%;
  }
  &-2 {
    top: 36%;
    right: 22%;
  }
  &-3 {
    top: 51%;
    right: 30%;
  }
  &-4 {
    top: 20%;
    right: 34%;
  }
  &-5 {
    top: 26%;
    right: 45%;
  }
  &-6 {
    top: 62%;
    right: 50%;
  }
  &-7 {
    top: 90%;
    right: 53%;
  }
  &-8 {
    top: 40%;
    right: 60%;
  }
  &-9 {
    top: 81%;
    left: 10%;
  }
  &-10 {
    top: 32%;
    left: 2%;
  }
}