.why {
  background: #F7F8FA;
  padding: 100px 0 130px;
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 30px;
  }
  &-item {
    width: calc(33.33% - 20px);
    height: auto;
    background: #fff;
    border-radius: 20px;
    &__title {
      box-sizing: content-box;
      padding: 40px 40px 0;
      margin-bottom: 20px;

      display: flex;
      align-items: center;

      line-height: 1.3;

      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      span {
        display: inline-block;
        position: relative;
        &:before {
          content: '';

          display: block;
          width: 7px;
          height: 100%;

          background: var(--accent-color);
          border-radius: 0 10px 10px 0;

          position: absolute;
          left: -40px;
        }
      }
    }
    &__description {
      padding: 0 40px 40px;
    }
  }
}